*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
/*Copy from here to next comment for NAVBAR code*/
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  color: black;
}
.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}
.logo-scale{
  height: 50px;
  width: 75%;
}
.navbar-links ul{
  margin: 0;
  padding-right: 40px;
  display: flex;
}
.navbar-links li{
  list-style: none;
  padding-top: 1rem;
  padding-right: 1rem;
}
.navbar-links li a{
  text-decoration: none;
  color: black;
  padding: 15px;
  display: block;
}
.navbar-links li a:hover{
  color: blue;
}
.navbar-links li .tryfree{
  color: white;
}
.navbar-links li .tryfree:hover{
  color: gold;
}
.signin{
  border: 1px solid blue;
  border-radius: 5px;
}
.tryfree{
  background-color: blue;
  border-radius: 5px;
}
.toggle-button{
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
@media (max-width: 1023px) {
  .brand-title{
    float: left;
  }
  .toggle-button{
    display: flex;
    top: 2rem;
  }
  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a{
    padding: .5rem 1rem;
  }
  .navbar-links.active{
    display: flex;
  }
}
@media (max-width: 1250px) {
  .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    color: black;
  }
  .brand-title{
    font-size: 1.5rem;
    margin: .5rem;
  }
  .logo-scale{
    height: 50px;
    width: 75%;
  }
  .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  .navbar-links li{
    list-style: none;
    padding-top: 1rem;
  }
  .navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
  }
  .navbar-links li a:hover{
    color: blue;
  }
}
/*Body*/